<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ejercicio II</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="card wide">
    <h1>Inicio de sesión</h1>

    <form method="POST">
      <label>Ingresa tu nombre</label>
      <input type="text" name="usuario" required>

      <label>Ingresa tu contraseña</label>
      <input type="password" name="password" required>

      <button class="btn-primary" type="submit">Verificar</button>
    </form>

    {% if mensaje %}
      <p class="ok">{{ mensaje }}</p>
    {% endif %}

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <a class="back" href="/">Volver al menú</a>
  </div>
</body>
</html>
>