<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ejercicio I</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="card">
    <h1>Formulario de Notas</h1>

    <form method="POST">
      <label>Nota 1:</label>
      <input type="number" name="nota1" min="10" max="70" required>

      <label>Nota 2:</label>
      <input type="number" name="nota2" min="10" max="70" required>

      <label>Nota 3:</label>
      <input type="number" name="nota3" min="10" max="70" required>

      <label>Asistencia (%):</label>
      <input type="number" name="asistencia" min="0" max="100" required>

      <button class="btn-submit" type="submit">Enviar</button>
    </form>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    {% if resultado %}
      <p>Promedio: <strong>{{ resultado.promedio }}</strong></p>
      <p>Estado: <strong>{{ resultado.estado }}</strong></p>
    {% endif %}

    <a class="back" href="/">Volver al menú</a>
  </div>
</body>
</html>

