body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

/* MENÚ */
.menu {
  height: 100vh;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  background: #0d6efd;
  color: #fff;
  padding: 30px 70px;
  font-size: 36px;
  border-radius: 14px;
  text-decoration: underline;
}

/* FORMULARIOS */
.card {
  width: 500px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.btn-submit {
  margin-top: 20px;
  padding: 10px;
  background: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.error {
  color: red;
  margin-top: 15px;
}

.back {
  display: inline-block;
  margin-top: 20px;
}
